<script type="text/javascript" src="${WEB_PATH}/js/My97DatePicker/WdatePicker.js"></script>
 <link href="${WEB_PATH}/js/uploadify/uploadify.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="${WEB_PATH}/js/uploadify/jquery.uploadify.js"></script>
<style type="text/css">
#wrap .right .creat ul li{float:none;clear:none;}
#wrap .right .creat ul li .cont{float:none;}
#wrap .right .creat ul li .ation{float:none;display:inline-block;}
</style>
<h3>
		<span class="fl b">
			<a href="${WEB_PATH}/info/list">编辑资讯</a>
		</span>
	</h3>
<#if info??>
<div class="creat">
<form action="${WEB_PATH}/info/update" method="POST" id="updateForm" enctype="multipart/form-data">
<input type="hidden" name="id" value="${info.id}"/>
	<ul>
		<li>
			<span class="name">资讯标题:</span>
			<span class="cont">
			<input type="text" class="inputL" name="title" value="${info.title!}" id="title"/>
			</span>
		</li>
		<li>
			<span class="name">资讯描述:</span>
			<span class="cont">
			<textarea rows="10" cols="60" name="description" id="description">${info.description!}</textarea>
			</span>
		</li>
		<li>
			<span class="name">资讯时间:</span>
			<span class="cont">
			<input type="text" class="inputL Wdate" id="title" name="time" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" value="${info.time!}"/>
			</span>
		</li>
		<li>
			<span class="name">资讯类型:</span>
			<span class="cont">
			<input type="text" class="inputL" name="type" value="${info.type!}"/>
			</span>
		</li>
<!-- 		<li> -->
<!-- 			<span class="name">新闻时间:</span> -->
<!-- 			<span class="cont"> -->
<!-- 			<input type="text" class="inputL Wdate" id="title" name="time" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" value="${news.time!}"/> -->
<!-- 			</span> -->
<!-- 		</li> -->
		<li>
			<span class="name">新闻来源:</span>
			<span class="cont">
			<select name="source" class="inputL">
			<#list sources as source>
			<#if info.source.id=source.id>
			<option value="${source.id}" selected="selected">${source.name}</option>
			<#else>
			<option value="${source.id}">${source.name}</option>
			</#if>
			</#list>
			</select>
<!-- 			<input type="text" class="inputL" name="source" value="${news.source!}"/> -->
			</span>
		</li>
		<li>
			<span class="name">图片:</span>
			<span class="cont">
			<img alt="${info.title}" src="${WEB_PATH}/${info.image}"/>
			<input type="file" class="inputL" name="file" id="file" value="${info.image!}"/>
			</span>
		</li>
		<li>
			<span class="name">资讯内容:</span>
			<span class="cont">
			<textarea rows="20" cols="60" name="content" id="content">${info.content!}</textarea>
			</span>
		</li>
		<li>
			<span class="name">&nbsp;</span>
			<span class="cont">
			<input type="submit" class="button" value="确定"/>
			</span>
		</li>
		
	</ul>
	</form>
	<script type="text/javascript">
	$(document).ready(function() {
		$("#uploadify").uploadify({
            'uploader'       : '${WEB_PATH}/js/uploadify/uploadify.swf',
            'script'         : '${WEB_PATH}/news/update',
            'scriptData'     : '$("#updateForm").serialize()'
            'cancelImg'      : '${WEB_PATH}/js/uploadify/uploadify-cancel.png',
            'queueID'        : 'fileQueue',
            'auto'           : false,
            'multi'          : true,
            'method'          : 'POST',
            'simUploadLimit' : 2,
            'buttonText'     : '上传图片'
        });
    });
// 	function update(){
// 		var title=$("#title").val();
// 		var content=$("#content").val();
// 		if(title==null||tilte==""){
// 			alert("标题输入为空");
// 			return;
// 		}
// 		if(content==null||content==""){
// 			alert("内容输入为空");
// 			return;
// 		}
// 		var data=$("#updateForm").serialize();
// 		$.ajax({
// 			url:'${WEB_PATH}/news/update',
// 			type:'post',
// 			data:data,
// 	        success:function(result){
// 	        	if(result=="0"){
// 	        		alert(修改新闻失败);
// 	        	}
// 	        	else
// 	        		window.location.href="${WEB_PATH}/news/list";
// 	        },error:function(result){
// 	        	alert(修改新闻失败);
// 	        }
// 		});
// 	}
	</script>
</div>

<#else>
<div class="creat">
<form action="${WEB_PATH}/info/add" method="POST" id="addForm" enctype="multipart/form-data">
	<ul>
		<li>
			<span class="name">资讯标题:</span>
			<span class="cont">
			<input type="text" class="inputL" id="title" name="title"/>
			</span>
		</li>
		<li>
			<span class="name">资讯内容:</span>
			<span class="cont">
			<textarea rows="10" cols="60" name="desciption"></textarea>
			</span>
		</li>
		<li>
			<span class="name">资讯时间:</span>
			<span class="cont">
			<input type="text" class="inputL Wdate" id="title" name="time" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
			</span>
		</li>
		<li>
			<span class="name">资讯类型:</span>
			<span class="cont">
			<input type="text" class="inputL" name="type"/>
			</span>
		</li>
		<li>
			<span class="name">资讯来源:</span>
			<span class="cont">
			<select name="source" class="inputL">
			<#list sources as source>
			<option value="${source.id}">${source.name}</option>
			</#list>
			</select>
<!-- 			<input type="text" class="inputL" name="source"/> -->
			</span>
		</li>
<!-- 		<li> -->
<!-- 			<span class="name">新闻时间:</span> -->
<!-- 			<span class="cont"> -->
<!-- 			<input type="text" class="inputL Wdate" id="title" name="time" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"/> -->
<!-- 			</span> -->
<!-- 		</li> -->
		<li>
			<span class="name">图片：</span>
			<span class="cont">
			<input type="file" class="inputL" name="file" id="file"/>
			</span>
		</li>
		<li>
			<span class="name">资讯内容:</span>
			<span class="cont">
			<textarea rows="20" cols="60" name="content"></textarea>
			</span>
		</li>
		<li>
			<span class="name">&nbsp;</span>
			<span class="cont">
			<input type="submit" class="button" value="确定" />
			</span>
		</li>
		
	</ul>
	</form>
	<script type="text/javascript">
	$(document).ready(function() {
		$("#uploadify").uploadify({
            'swf'       : '${WEB_PATH}/js/uploadify/uploadify.swf',
            'uploader'         : '${WEB_PATH}/news/add',
            'formData'     : '$("#addForm").serialize()',
            'buttonImg'      : '${WEB_PATH}/js/uploadify/uploadify-cancel.png',
            'queueID'        : 'fileQueue',
            'auto'           : false,
            'multi'          : true,
            'fileTypeExts':'*.jpg;*.jpge;*.gif;*.png',
            'fileSizeLimit':'3MB',
            'queueSizeLimit' : 3,
            'buttonText'     : '上传图片'
        });
    });
// 	function add(){
// 		var data=$("#addForm").serialize();
// 		$.ajaxFileUpload({
// 			url:'${WEB_PATH}/news/add',
// 			secureuri:false,
// 	        fileElementId:'file',
// 			type:'post',
// 			data:data,
// 	        success:function(result){
// 	        	if(result=="0"){
// 	        		alert(添加新闻失败);
// 	        	}
// 	        	else
// 	        		window.location.href="${WEB_PATH}/news/list";
// 	        },error:function(result){
// 	        	alert(添加新闻失败);
// 	        }
// 		});
// 	}
	</script>
</div>
</#if>