<link href="${WEB_PATH}/css/jpaginate.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="${WEB_PATH}/js/jquery.paginate.js"></script>
<script type="text/javascript" src="${WEB_PATH}/js/My97DatePicker/WdatePicker.js"></script>
<div class="order">
	<form action="${WEB_PATH}/news/list" method="post" id="doSearch">
	<span class="control">
		<a href="${WEB_PATH}/news/edit/0" class="inputBtn">添加</a>
	</span>
	<span class="search fr">
		<input type="hidden" name="page" value="${page.currentPage}" />
<!-- 		<label>用户名称: </label> -->
        <input type="text" class="inputW Wdate" id="start" name="start_time" value="${start_time!}" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
        <input type="text" class="inputW Wdate" id="end" name="end_time" value="${end_time!}" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
	  <input type="submit" value="搜索" class="inputBtn" />
	</span>
    </form>
</div>
<div class="list">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
	  <tr>
		<td bgcolor="#c1daf8"><table width="100%" border="0" cellspacing="1" cellpadding="0">
                      <tr class="blue b">
                        <td height="40" align="center" bgcolor="#e7f4fd">序号</td>
                        <td align="center" bgcolor="#e7f4fd">新闻标题</td>
                        <td align="center" bgcolor="#e7f4fd">来源</td>
                        <td align="center" bgcolor="#e7f4fd">类型</td>
                        <td align="center" bgcolor="#e7f4fd">时间</td>
                        <td align="center" bgcolor="#e7f4fd">操作</td>
                      </tr>
                      <#list list as news>
                      <tr>
                        <td height="40" align="center" bgcolor="#ffffff">${news_index+1}</td>
                        <td align="center" bgcolor="#ffffff">${news.title!}</td>
                        <td align="center" bgcolor="#ffffff">${news.source.name!}</td>
                        <td align="center" bgcolor="#ffffff">${news.type!}</td>
                        <td align="center" bgcolor="#ffffff">${news.time!}</td>
                        <td align="center" bgcolor="#ffffff">
                          <a href="${WEB_PATH}/news/edit/${news.id}" class="red textLine" >修改</a>&nbsp;&nbsp;
                          <a href="${WEB_PATH}/news/delete/${news.id}" class="red textLine" >删除</a>
                        </td>
                      </tr>
                      </#list>
                    </table></td>
	  </tr>
	</table>
	<#if page.totalPage gt 1>
	<div id="changepage">
	</div>
	</#if>
	<div id="pageSizeDiv" style="float: right;">
		共: ${page.totalResult}条 &nbsp;&nbsp;
	</div>
</div>		

<script type="text/javascript">

/**分页开始**/
$(function(){
	<#if page.totalPage gt 1>
	$("#changepage").paginate({
		count 		: ${page.totalPage},
		start 		: ${page.currentPage},
		display     : 8,
		border					:  true,
		text_color  			: '#888',
		background_color    	: '#EEE',	
		text_hover_color  		: 'black',
		background_hover_color	: '#CFCFCF',
		onChange				: onChangePage
	});
	</#if>
}); 
function onChangePage(page){
	$("input[name=page]").val( page );
	$("form[id=doSearch]").submit();
}
/**分页结束**/

</script>